SUPABASE_URL=###
SUPABASE_KEY=###
SUPABASE_SERVICE_ROLE_KEY=###
OPENROUTER_API_KEY=###
OPENROUTER_MODEL=###
OPENROUTER_VERIFIER_MODEL=###
RESEND_API_KEY=###
RESEND_FROM_EMAIL=###
PUBLIC_APP_ORIGIN=http://localhost:4321